[2017-03-28 21:06] greenkeeper[bot] opened #6 "An in-range update of firebase is breaking the build 🚨"
## Version **3.7.4** of [firebase](https://www.npmjs.com/package/firebase) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/n6g7/redux-saga-firebase/compare/greenkeeper%2Ffirebase-3.7.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      firebase
    </td>
  </tr>
  <tr>
    <th align=lef

[2017-03-29 21:51] n6g7 opened #7 "AaU I can use the example website without problem"
![capture d ecran 2017-03-29 a 22 50 14](https://cloud.githubusercontent.com/assets/3386177/24478282/36d7ce30-14d2-11e7-9b4f-a73dbc8728d9.png)

[2017-03-29 21:53] n6g7 opened #8 "AaU I can see a beautiful example website"

[2017-03-29 21:53] n6g7 opened #9 "AaU I can see the code associated with each feature"

[2017-03-29 21:58] n6g7 opened #10 "AaU I see function documentations grouped by feature (auth, db, messaging, etc)."

[2017-03-29 21:58] n6g7 opened #11 "AaU I can browse the documentation on GitHub pages"

[2017-03-29 22:06] #6 closed

[2017-03-29 22:25] n6g7 opened #13 "AaD I see an error when I try to call a function with the wrong arguments."
Use `assert` in dev mode?

[2017-04-04 19:01] n6g7 opened #15 "AaD I receive a task when calling rsf.upload"
Documentation says `Task` but it's not.

[2017-04-04 21:53] #7 closed

[2017-04-04 21:54] #8 closed

[2017-04-04 22:20] n6g7 opened #17 "AaU on the example website I can create a todo item without being logged-in."

[2017-05-09 21:37] n6g7 opened #23 "AaD I use a clearer API"
Exposed function names should be clearer:

- ~~`rsf.channel()`~~
- `rsf.db.get()`, `rsf.auth.login()`?

[2017-05-15 22:45] n6g7 opened #24 "AaU I can login with different methods"
Not only popup, add:
- [x] [signInAnonymously](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#signInAnonymously)
- [x] [signInWithCredential](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#signInWithCredential)
- [x] [signInAndRetrieveDataWithCredential](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#signInAndRetrieveDataWithCredential)
- [x] [

[2017-06-03 17:43] #15 closed

[2017-06-03 17:58] #17 closed

[2017-06-05 18:35] sarovin commented on #24
and Phone Number sign-in? https://firebase.google.com/docs/auth/web/phone-auth

[2017-06-06 17:56] n6g7 commented on #24
@sarovin Good point, I just added it. :)

[2017-06-07 02:36] ryansully opened #33 "More Firebase-centric documentation"
First of all, I love the direction that this project is going, and the attention to testing and coverage!

As a dev that uses Firebase across a number of projects, I'm more used to seeing Firebase nomenclature for its API, such as `on()` and `once()`, so finding their equivalents here took a bit of searching around. I noticed that somewhat already for `rsf.channel()`, whose doc refers to `Referenc

[2017-06-08 14:27] n6g7 commented on #33
Hi Ryan,

Thank you very much for raising this, I'm glad you like the project!

Updating the documentation is definitely my next priority now that v0.1 is out, so your feedback is very interesting. I think it makes a lot of sense to relate RSF's API to Firebase's one, so I'll definitely add that.

You're more than welcome to contribute to the documentation (or any part of the code!), although I'm

[2017-06-09 04:59] ryansully commented on #33
I like the direction of #31, especially the namespacing. Once that makes it into a release, I can take a look at accompanying documentation.

I think the wiki is a good idea to start, but it's really best for simpler kinds of pages, as it's rather limited in features and usability. Editing wikis is restricted to project collaborators by default, which I recommend keeping if you do happen to use it

[2017-06-09 06:04] ryansully opened #34 "Support database queries for sorting/filtering"
Currently all of the database methods accept a `path` string to define the Firebase database reference. Because of this, [sorting and filtering](https://firebase.google.com/docs/database/web/lists-of-data#sorting_and_filtering_data) features are not supported. If a ref could be passed to the method instead of a path, sorting and filtering could be defined before performing the database operation.

[2017-06-10 03:50] ryansully commented on #34
I have a modified version of `channel()` that I'm using now that supports either path or ref as the first argument, as well as support for other features like channel buffers, and returning the snapshot instead of `snapshot.val()` (in case you need access to other properties of the snapshot object).

I can submit a PR, but wanted to wait for #31 to be merged before digging in.

[2017-06-11 10:08] n6g7 opened #36 "AaD I can receive null or undefined values via database channel."
Redux-saga does not support null or undefined values being emitted in a channel:

- [source](https://redux-saga.js.org/docs/advanced/Channels.html#using-the-eventchannel-factory-to-connect-to-external-events)

The recommended solution is to format the channel like a redux action (object with keys). We could have a "data" key to pass the result.

[2017-06-11 14:51] n6g7 commented on #33
Thanks for the feedback! I'll try to polish #31 and merge in the coming week. Once that's done we can have a look at improving the docs. :)

GitHub pages sound good, I'll look into that too!

[2017-06-11 14:53] n6g7 commented on #34
Hi @ryansully, I love the idea, thank you for opening this. :)

I'd definitely welcome a PR to add this, however as you said it's probably better to wait for #31 to be merged. Should be ready sometime next week!

[2017-06-11 21:43] #23 closed

[2017-06-11 23:11] ryansully commented on #36
I actually encountered this issue while writing unit tests for my revamped `channel()` method. I can either submit a PR with this specific solution, or with the entire new method (sneak peek here: https://github.com/ryansully/firecards/blob/master/src/firebase/database.js).

[2017-06-12 22:06] n6g7 commented on #36
@ryansully That's really cool, I like the `pathOrRef` and `buffer` options.

I wrote a first fix over at https://github.com/n6g7/redux-saga-firebase/pull/40 (I stole the `snapshot` and `value` keys from your implementation 😉), as I'd rather add the `pathOrRef` argument to every method at once rather than just on this one.

... which reminds that now that #31 is merged, https://github.com/n6g7/redu

[2017-06-12 22:26] ryansully commented on #36
Ah, you combined `snapshot` and `value` in the same response. I had them as separate responses by a `returnSnapshot` argument, since `value` is already available if you return the snapshot, but that works too. Just don't forget the corresponding unit tests (I wrote them in https://github.com/ryansully/firecards/blob/master/src/firebase/database.test.js). If you move forward with the combined respo

[2017-06-13 19:03] #36 closed

[2017-06-17 09:17] n6g7 commented on #34
I assume #41 fixes this so I'm closing this for now.

[2017-06-17 09:17] #34 closed

[2017-06-17 17:38] #10 closed

[2017-06-17 19:01] #11 closed

[2017-06-17 19:04] n6g7 commented on #33
Hey @ryansully I've moved the documentation to [github pages](https://n6g7.github.io/redux-saga-firebase/), so I think now's a good time to add the firebase equivalents. 🙂

[2017-06-18 02:58] ryansully commented on #33
It looks very nice! I'll start adding Firebase links soon.

[2017-06-23 16:27] protoEvangelion opened #44 "ERROR: regeneratorRuntime is not defined"
After including Redux Saga Firebase as the docs suggest, I am getting a `regeneratorRuntime is not defined` error in my Chrome console.  Specifically it is complaining about the *first generator function* in my saga file.

[code]

I was actually getting this error before but resolved it by adding `import 'regenerator-runtime/runtime'` in my saga file.

***Is there something else I need to do to pr

[2017-06-24 13:18] n6g7 commented on #44
Hello @protoEvangelion

Are you using webpack+babel to package your code? If so you'll need to include [`babel-polyfill`](https://babeljs.io/docs/usage/polyfill/) (which includes `regeneratorRuntime`) in your webpack config.

- Add it to your project dev dependencies: `yarn add --dev babel-polyfill`
- Update your webpack.config.js file:
[code]

For a more complete example check out the [example ap

[2017-07-08 17:33] #44 closed

[2017-07-08 18:03] #24 closed

[2017-07-09 05:25] protoEvangelion commented on #44
@n6g7 Hey I think the problem was that I was using the package `webpack-blocks` to setup my webpack file.

I tried adding the `babel-polyfill` to my webpack.config however I still could not get it to function properly.

Thank you for your quick response and for trying to help!

[2017-07-10 10:34] tamal-appsbee opened #47 "Add listener in loop"
Hi,

How I can add firebase on('value') listener in a loop. For example :
I have user path in firebase and I want to attach listeners for specific users only, I have an array of use keys.

[2017-07-12 14:38] n6g7 commented on #47
Hi @tamal-appsbee,

There are two ways of synchronising your redux store with the Firebase real-time database using RSF:

- **Create a channel and `take` from it**
  This is the manual solution, it's good if you need a custom workflow.
[code]
- **Use the [`database.sync`](https://n6g7.github.io/redux-saga-firebase/reference/database#sync) method**
  This does exactly the same as the manual solutio

[2017-07-25 11:01] bentatum opened #48 "support for updateProfile?"
Any plans to add support for the methods here: https://firebase.google.com/docs/auth/web/manage-users

[2017-07-25 18:53] n6g7 commented on #48
Hi @bentatum,

TBH it's the first time I'm seeing these APIs so no, there is no plan to support those yet.
I can't commit on this feature in the near future but I'd be welcome a PR to add this. 😉

[2017-07-28 13:52] #47 closed

[2017-09-13 16:29] n6g7 opened #57 "AaU on the example website, when I block notifications, I can still login"

[2017-09-16 23:18] #57 closed

[2017-10-01 13:24] nagygergo opened #59 "unsubscribe from database reference"
Hi!

In the current documentation, I don't see a way to unsubscribe from a database reference. Is there a way that I don't see, or is this a yet to be implemented feature. Also, I would be glad to help to implement it.

[Firebase docs for databaseRef.off()](https://firebase.google.com/docs/reference/js/firebase.database.Reference#off)

[2017-10-01 14:02] n6g7 commented on #59
Hi @nagygergo :)

Actually the unsubscription is implemented as part of the `database.channel()` method ([see the code here](https://github.com/n6g7/redux-saga-firebase/blob/master/src/database.js#L48)). Since this is the only place where we do any database subscription, I don't see why we'd need to add more support for unsubscription.
What is your use case exactly?

As a general rule of thumb, th

[2017-10-01 14:07] nagygergo commented on #59
If that's the case, I may have misunderstood the workings of `database.sync(path, actionCreator)`.

Thanks for the clarification!

[2017-10-01 14:11] #59 closed

[2017-10-10 13:50] rahulbasu710 opened #64 "Using the library Universally"
Loved the library. the simplicity and how it works in sync with Firebase is just marvellous.

I want to use it, but my library uses Universal or Isomorphic Node JS with React. So I was wondering how do I setup the `RSF library` so that preloaded server-side functions can be called with this so that we can `serve data universally` through the static functions thus decreasing initial load-time drast

[2017-10-10 17:21] n6g7 commented on #64
Hi Rahul,

That's a very interesting issue, thanks for bringing it up! I imagine you're not the only running into this. :)

Unfortunately, I have very little experience with isomorphic/universal apps so I don't know exactly what works or doesn't work when using RSF. Could you provide any error you're encountering as well as a code example?

As for the `firebase-admin` stuff, it looks like [admin.a

[2017-10-12 18:38] n6g7 opened #65 "Firestore support"
- [x] Read / write
- [x] [Realtime updates](https://firebase.google.com/docs/firestore/query-data/listen)
- [x] [Queries](https://firebase.google.com/docs/firestore/query-data/get-data), [Order, Limit](https://firebase.google.com/docs/firestore/query-data/order-limit-data)
- [X] [Offline access](https://firebase.google.com/docs/firestore/manage-data/enable-offline): only [one method](https://fireb

[2017-10-13 19:16] rahulbasu710 commented on #64
Hey Nathan, really sorry to have taken so long to get back to you. Well I was actually updating my repository with the other things. I shall try it tonight and integrate it with the rest of it. Your project is a very nice one and I guess eliminates the need to use RxJS for this. To give you a reference, this is the one I am integrating with [https://github.com/rahulbasu710/react-universal-subway_s

[2017-10-16 12:25] KamesCG commented on #65
I'll work on these tasks this week. I noticed plenty was added :)

In regards to offline access, if I'm understanding correctly that choice is made in the Firestore initialization settings. Redux Saga Firebase won't be able to influence whether it has access to offline mode or how to access those collections/documents differently.

Am I misunderstanding the documentation or missing something?

[2017-10-16 15:06] n6g7 commented on #65
@KamesCG I think you're right about offline access, there's only [one method](https://firebase.google.com/docs/reference/js/firebase.firestore.Firestore#enablePersistence) of interest. I probably should have read the docs before opening this issue!
I'll remove it from the list.

Looking forward to your PRs! 😉

[2017-10-16 22:00] EdmundMai opened #67 "Listening to the same channel a 2nd time does not work"
I have this code to listen to my channel:

[code]

This runs every time a user signs in.

However, when I:
1. Sign in with User 1
2. Sign out
3. Sign in with User 2
4. Sign out
5. Sign in with User 1

The saga does not `yield` on the last step. My hunch is because it has listened to that path before, and breaks for some reason if it tries to listen to it again

If I change the path to something un

[2017-10-16 22:33] EdmundMai commented on #67
Never mind it was my problem, I had 2 separate sagas, this is how I fixed it

[code]

[2017-10-19 17:44] KamesCG commented on #65
I'll merge updates soon. Figuring out the best workflow still.

In regards to the "ref" conversation. It might help to simplify the function, while also introducing the ability to call sub-collections/documents directly from one ref constructor.

[code]

Using the above function you can pass an array using the following pattern ['collection', 'document', 'collection', 'document'] and it will const

[2017-10-20 16:14] FSSDawid opened #68 "TypeError: Cannot read property 'getCollection' of undefined"
Hi there,
Just wanted to checkout your sagas for firestore but I can't seem to get it running
Getting this error:
` at rootSaga
 at takeEvery
 at getUsers
 TypeError: Cannot read property 'getCollection' of undefined`

code:
`function* getUsers() {
	const snapshot = yield call(rsf.firestore.getCollection, 'users');
	let users;
	snapshot.forEach(user => {
		users = {
			...users,
			[user.id]: user

[2017-10-20 20:36] darthneel commented on #65
@KamesCG I was curious if you were working on the [Realtime Updates](https://firebase.google.com/docs/firestore/query-data/listen) task yet. If not, I might give it a shot because I need that functionality for a project I'm working on. Thanks!

[2017-10-21 13:04] KamesCG commented on #65
@darthneel Yes. I'm working on Realtime updates. That being said, the primary task is to finish/solidify the core API for retrieving collections/documents and the mechanisms around composing those into React components.

Realtime updates are a great feature, so that's definitely a priority for me though.

[2017-10-21 16:48] n6g7 opened #69 "AaD I don't see unreleased features on the doc site"
Fixes https://github.com/n6g7/redux-saga-firebase/issues/68

[2017-10-21 16:49] n6g7 commented on #68
Hi @FSSDawid,
which version are you using? The firestore features haven't been released yet, so unless you specified your dependency using a [github link](https://docs.npmjs.com/files/package.json#github-urls) you won't be able to use them.

I realise the docs site already lists those features even though they're not available yet, I'm going to look into fixing this.

I'll keep this issue open for

[2017-10-21 18:34] n6g7 commented on #65
@KamesCG I really like the recursive idea to get collection/document references, we could even accept dot-separated strings like `col1.doc1.col2.doc2`!
Do you want to open a PR with this change? Otherwise, I'll try to give this a go soon. :-)

Also I'm not sure what breaking changes you're talking about. Is that related to https://github.com/n6g7/redux-saga-firebase/pull/61?

@darthneel It doesn't

[2017-10-21 18:47] n6g7 commented on #65
@KamesCG I looked a bit more it and it seems all of the [built-in](https://firebase.google.com/docs/reference/js/firebase.firestore.Firestore#collection) [reference](https://firebase.google.com/docs/reference/js/firebase.firestore.Firestore#doc) [construction](https://firebase.google.com/docs/reference/js/firebase.firestore.DocumentReference#collection) [methods](https://firebase.google.com/docs/r

[2017-10-21 20:40] KamesCG commented on #65
To clarify, I'm working on Realtime updates for a local project. Haven't pushed to repo yet.

In regards the recursive method for getting collection/documents the reasoning was a unified API for my React Component/Containers. My preference is minimize the amount of props I may have to pass in for the same "family" of components.

[code]

and

[code]

In my Sagas I map "references" props back into

[2017-10-23 17:05] FSSDawid commented on #68
Hi @n6g7 I managed to figure out my problem :)
I was missing the firestore import in rsf.
[code]
I'm using the version from git ;) and firebase 4.6.0
Thanks for the response.

[2017-10-26 15:45] n6g7 opened #70 "AaD, I can pass a failure action to the `sync` methods."
Dispatch actions in the catch of the `sync` functions.

[2017-10-26 15:47] BrunoGodefroy commented on #70
@n6g7 I can look into it and open a PR

[2017-10-29 16:01] #68 closed

[2017-10-29 16:03] #13 closed

[2017-11-07 21:50] ataliadvanstep opened #72 "package npm is not up to date"
I was unable to find out the firestore code in the package uploaded into npm.

npm install --save redux-saga-firebase

+ redux-saga-firebase@0.6.1

![image](https://user-images.githubusercontent.com/26287180/32519661-c14fbaf6-c40d-11e7-87be-47c8686cd144.png)

Is the package correctly uploaded ?

[2017-11-08 11:55] n6g7 commented on #72
Hi @ataliadvanstep, firestore hasn't made it to a released version yet, we're still [working on it](https://github.com/n6g7/redux-saga-firebase/issues/65).
I'll let you know when it's ready! :)

[2017-11-08 13:09] ataliadvanstep commented on #72
ok thanks , I will follow up the other thread :-)

[2017-11-08 13:09] #72 closed

[2017-11-09 21:32] gunn4r commented on #48
I could use these in the current project I'm on, so I'll look at creating a PR for this.

[2017-11-12 16:55] n6g7 opened #73 "Continuous deployment of example app"

[2017-11-12 18:02] n6g7 commented on #65
@KamesCG @darthneel I think we're ready now!

- real-time updates are available through the [`firestore.syncCollection`](https://n6g7.github.io/redux-saga-firebase/reference/firestore#syncCollection) and [`firestore.syncDocument`](https://n6g7.github.io/redux-saga-firebase/reference/firestore#syncDocument) methods.
- sorting and filtering are [documented here](https://n6g7.github.io/redux-saga-fir

[2017-11-12 18:03] #65 closed

[2017-11-12 22:58] #70 closed

[2017-11-18 11:23] TimMeade opened #74 "Example app module transform-runtime not found"
Getting this trying to run the 'yarn dev'.   I am on OSX and running node 9.1

[2017-11-18 11:32] TimMeade commented on #74
yarn add babel-preset-stage-3 transform-runtime babel-transform-runtime seems to fix

[2017-11-18 23:49] n6g7 commented on #74
Hi @TimMeade, thanks for the report.

I can't reproduce this locally (on macOS 10.13.1 + node 9.1), `rm-rf node_modules && yarn && yarn dev` works fine for me. :(

Also `babel-preset-stage-3` is included in `babel-preset-stage-2` (which we're using) so I don't think adding it would change anything.

Could you provide detailed reproduction steps please? :)

[2017-11-29 01:55] EdmundMai commented on #67
Seems to still be an issue...

[2017-11-30 06:37] shprink opened #76 "[best-practice] database.channel"
Hello,

thanks for your great work, I fell in love with it :)

I have questions regarding best practice on channels.

* How do you handle paths that contains a variable set only when auth is complete (e.g user.uid) ?
* How do you handle the unregistration => registration when changing user since `syncDashboardsSaga` is ony called once?

The following code does not work because `user` does not exis

[2017-11-30 10:04] shprink commented on #76
I managed to do what I wanted listening to the `syncUser` action.

https://github.com/n6g7/redux-saga-firebase/blob/520d70c493396304cd2dcc5e77d184918a639abb/example/src/redux/sagas/login.js#L41

[2017-11-30 10:04] #76 closed

[2017-12-01 13:04] TimMeade opened #77 "Trying to use firestore getting WEBPACK error."
trying to use firestore.

I have auth working great using:

config = { my config }
firebase.initializeApp(config);
const reduxSagaFirebase = new ReduxSagaFirebase(firebase);

When I add firestore to it per the docs:
const reduxSagaFirebase = new ReduxSagaFirebase(firebase, firebase.firestore());

I get.

TypeError: __WEBPACK_IMPORTED_MODULE_0_firebase___default.a.firestore is not a function

Quite

[2017-12-01 13:06] TimMeade commented on #77
Well of course 2 minutes after i try a different search.

Firestore is not included automatically.  Have to include it:

import firebase from 'firebase';
import 'firebase/firestore';

Compiles webpack fine now.

Closing as solved.

[2017-12-01 14:26] n6g7 commented on #77
Hey Tim,

Thanks for the feedback, I guess we can improve the docs to make this clearer.
Re-opening this to update the docs. :)

[2017-12-02 05:26] sciphergfx opened #78 "Immutable Error"
Getting 'Immutable Error' in my reducer after calling the createUserWithEmailAndPassword function.
The response seem to return a promise, is there a way to sort this?

My code:

[code]

[2017-12-04 15:41] blacktea commented on #78
Getting same error with
[code]

[2017-12-05 11:40] n6g7 commented on #78
Hey guys, thanks for the bug report!
I'm a bit overwhelmed at work right now but I'll take a look at this soon!

[2017-12-05 15:58] blacktea opened #79 "Subfunctions for filtering data"
Would be nice to have subfunctions for adding filters

[code]

[2017-12-09 13:14] n6g7 commented on #67
Hi @EdmundMai,

I think your second comment is right: running `yield all(...)` every time a user signs in will start new sagas **but not stop the previously started ones**. So, after you log in with user 2, the sagas for user 1 are still running and, when you re-login with user 1, you're attempting to open a second channel to the same endpoint (`users/${user1.id}/orders`) which Firebase does not s

[2017-12-09 13:15] n6g7 commented on #74
@TimMeade closing this for now, let me know if you're still having this issue and we'll re-open!

[2017-12-09 13:15] #74 closed

[2017-12-09 13:34] n6g7 commented on #77
@TimMeade I updated [the firestore docs](http://localhost:4000/redux-saga-firebase/reference/firestore), hopefully this should be clearer now. :)

[2017-12-09 13:34] #77 closed

[2017-12-09 13:55] n6g7 commented on #78
@sciphergfx I couldn't reproduce this error, either with `createUserWithEmailAndPassword` or `signInWithEmailAndPassword`. Could you provide the entire error and code example that fails?

Thanks!

[2017-12-09 14:12] n6g7 commented on #79
Hey @blacktea,

I think this actually already would work in a similar way to what's described in the [sorting and filtering for firestore docs](https://n6g7.github.io/redux-saga-firebase/guides/sorting-filtering).

Similarly to firestore, the realtime database, [`once`](https://firebase.google.com/docs/reference/js/firebase.database.Query#once), [`on`](https://firebase.google.com/docs/reference/js

[2017-12-09 15:55] EdmundMai commented on #67
Looks like after updating to the latest version and updating the arguments it works:

yield all([
  reduxSagaFirebase.database.sync(
    `/users/${CONFIG.APP_ID}/${user.id}/orderHistory`,
    {
      transform: firebaseValue => {
        ...

        return { ... };
      },
      successActionCreator: userActions.orderHistoryFetchSuccess,
      failureActionCreator: userActions.orderHistoryFetchF

[2017-12-09 15:55] #67 closed

[2017-12-10 13:36] blacktea commented on #78
In my case this happened when Redux state was Immutable and I tried to put `user` object (returned by Firebase) directly into state. `user` object had references and stuff, so obviously Immutable could not serialize it.

Solution - let Firebase serialize it first:

Here is my setUser reducer
[code]

[2017-12-11 12:56] n6g7 commented on #78
Ah cool, that explains it. :)

I'll keep this issue to add a section to the docs about using immutable.js.

[2017-12-19 00:40] TimMeade commented on #79
i have tried to get this to work using firestore and have hit a wall.   Does anyone have a full example?

[2017-12-19 15:33] TimMeade opened #82 "firestore.addDocument need to assign specific document id."
Current docs show:

_Adds a new document to this collection with the specified data, assigning it a document ID automatically_

Is there any current or planned means to assign a specific id?   For example: we want to create a staff document that matches to the auth document with the same id.

[2017-12-19 22:59] TimMeade commented on #82
I'm going to close;  there is what i would call a workaround (or my lack of knowledge).

You can create the doc with a set.  So calling setDocument while passing id to collection will create doc with id.

yield call(rsf.firestore.setDocument, `staff/${user.uid}`, user);

Where user is data object for document.

[2017-12-21 10:27] n6g7 commented on #82
@TimMeade `setDocument` is indeed the solution to your problem, and not being able to provide a custom ID to the `addDocument` method is a restriction coming from the firebase SDK as the [`add`](https://firebase.google.com/docs/reference/js/firebase.firestore.CollectionReference#add) method **does** generate an ID automatically.

I'm re-opening this add a section about custom IDs in the docs. :)

[2017-12-21 10:31] n6g7 commented on #79
@TimMeade I don't have any right now but I'll try to build one over the next couple weeks. :)

[2017-12-23 17:52] n6g7 commented on #78
@sciphergfx @blacktea I've added a [section in the docs](https://n6g7.github.io/redux-saga-firebase/guides/immutable) to explain this issue. :)

[2017-12-23 17:52] #78 closed

[2017-12-23 18:41] n6g7 commented on #79
@TimMeade I added a doc on [using custom keys](https://n6g7.github.io/redux-saga-firebase/guides/custom-keys), feel free to re-open this issue if you have any other question. :)

[2017-12-23 18:41] #79 closed

[2017-12-25 18:04] #73 closed

[2017-12-26 13:54] n6g7 opened #83 "AaU, on the demo site, I can switch between realtime DB and firestore."

[2017-12-27 11:18] ReactNativeBlog opened #84 "Child_added supported in sync? -> Adding to Documentation"
First of all: Great Work!

I'm currently wondering which data is transferred on a sync in case a child was added/remove/... in the realtime database?
Is the whole data/ref transferred or only the delta?

Many thanks for clarification.

[2017-12-27 12:38] n6g7 commented on #82
@TimMeade I added [a custom keys section](https://n6g7.github.io/redux-saga-firebase/guides/custom-keys) to the docs to explain how to solve your issue. :)

[2017-12-27 12:38] #82 closed

[2017-12-27 12:57] n6g7 commented on #84
Thanks!

Yes, the [`database.sync`](https://n6g7.github.io/redux-saga-firebase/reference/database#sync) method currently uses the `value` event so it will send the whole data in the ref.

If you want to only receive new or deleted children you can choose the event you want to use (`child_added`, `child_removed `, `child_changed ` or `child_moved `, see the [`Reference.on` docs](https://firebase.go

[2017-12-30 14:01] ReactNativeBlog commented on #84
Great !!!

[2017-12-31 11:50] n6g7 commented on #84
Thanks for the feedback, this is much appreciated. :D

That sounds reasonable, I'll keep this issue open and notify you when this is ready. :)

[2018-01-01 13:59] #83 closed

[2018-01-01 15:37] #84 closed

[2018-01-01 17:01] n6g7 commented on #84
@ReactNativeBlog I've just released [v0.8.0](https://github.com/n6g7/redux-saga-firebase/releases/tag/v0.8.0) with this change!
Run `yarn upgrade redux-saga-firebase` and you should be able to use the new [`database.sync`](https://n6g7.github.io/redux-saga-firebase/reference/database#sync) `event` argument in your code. 🎉

Let me know how it works for you! :D

[2018-01-02 16:12] hhorne opened #90 "Add support for linking additional OAuth providers."
**Purpose**
Allow users to link and unlink additional OAuth providers to their account.

Pull request to add this: #89

[2018-01-04 16:13] NickFranceschina opened #92 "unsubscribing firestore snapshot after syncDocument/syncCollection?"
how do I get ahold of the `unsubscribe()` from `syncCollection`?  when I log out of my app, I get a permissions error from the snapshot... perhaps I'm doing something wrong?

https://firebase.google.com/docs/firestore/query-data/listen

[2018-01-04 21:43] n6g7 commented on #92
Hi @NickFranceschina,

The `unsubscribe` function (as mentioned in the ["Detach a listener"](https://firebase.google.com/docs/firestore/query-data/listen#detach_a_listener) section of the docs you linked to) is already handled by the [`firestore.channel`](https://github.com/n6g7/redux-saga-firebase/blob/master/src/firestore.js#L11-L21) method of rsf (which is used internally by `firestore.syncColl

[2018-01-05 16:05] hhorne commented on #90
After issues with the last PR, this was merged in with PR #91

[2018-01-06 04:31] #90 closed

[2018-01-06 19:23] n6g7 commented on #90
@hhorne I released [v0.9.0](https://github.com/n6g7/redux-saga-firebase/releases/tag/v0.9.0) with these changes. Thanks a lot! 🎉

[2018-01-09 07:27] NickFranceschina commented on #92
@n6g7 thanks for your reply.  I'm probably not thinking of things correctly... when the code comes to this line:

[code]

it blocks on the `yield`... meaning the second `console.log` is never reached... and then later on when I log out with

`yield call(rsf.auth.signOut);`

I get

[code]

the second `console.log` is never seen

So I'm sure my head isn't wrapped around these concepts correctly yet.

[2018-01-10 18:23] n6g7 commented on #69
http://docusaurus.io/

[2018-01-11 13:24] n6g7 commented on #92
Hey Nick,

I think this is the issue:

When you do:
[code]
redux-saga will wait for the `firestore.syncCollection` generator to finish its execution before returning control. And since the sync methods include a `while(true)` loop, execution never finishes and you never see the second `console.log`.
There is also no way to tell redux-saga to stop the execution of the `firestore.syncCollection` gen

[2018-01-11 17:12] NickFranceschina commented on #92
Oh wow... thank you @n6g7 for this thorough explanation!  I see what's going on now, and should be able to make it work.

So then for final clarification:  let's say I have the canonical TODO app running, but I have multiple TODO lists.  When I choose one of those lists (collections), I want to sync that list for the display component.  Now every time I switch to a different list, I need to manage

[2018-01-11 22:01] n6g7 commented on #92
Yes, you would have to, although there are shortcuts which make this fairly simple (that's the point of this lib!).

If you keep forking syncCollection every time you change list without stopping previous sagas, you will be syncing multiple lists in parallel. This is perfectly valid and shouldn't create any errors, but that's probably not what you want.

Using the `takeLatest` effect creator makes

[2018-01-15 01:13] juanpasolano opened #94 "Demo error on file upload"
Clicking on the Sind File button in the demo page  throws
[code]

OS: MacOS High Sierra 10.13.2
Browser: Chrome

[2018-01-15 20:52] n6g7 commented on #94
Thanks @juanpasolano, fixed in https://github.com/n6g7/redux-saga-firebase/commit/93f05f20160f4cd27ccf8c96990cc096f2af82c5

[2018-01-15 20:52] #94 closed

[2018-01-17 10:34] NickFranceschina opened #95 "Ability to set Headers for function.call"
implementing the "authorized http function endpoint" example and realizing I can't set headers when calling `rsf.functions.call(...)`

https://github.com/firebase/functions-samples/tree/master/authorized-https-endpoint

I can do a normal `fetch` for now

[2018-01-17 14:45] n6g7 commented on #95
Hi @NickFranceschina,

That's good feedback, thanks.

I think this can easily be addressed by duplicating the [`fetch()` api](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch) and adding an optional `init` parameter to the [`functions.call`](https://github.com/n6g7/redux-saga-firebase/blob/master/src/functions.js#L14) method. We'd pass this parameter down as is to `

[2018-01-18 08:27] NickFranceschina commented on #95
sounds perfect!  I would have offered a PR but I'm so swamped right now!!

[2018-01-18 10:05] n6g7 commented on #95
No problem, I'll do that this weekend if we don't get a PR before then. :)

[2018-01-21 13:20] n6g7 commented on #95
@NickFranceschina I released [v0.10.0](https://github.com/n6g7/redux-saga-firebase/releases/tag/v0.10.0) with this new argument, let me know if it solves your problem. :)

[2018-01-21 13:20] #95 closed

[2018-01-23 10:51] NickFranceschina commented on #95
very cool thank you!

[2018-01-26 19:59] LukeSmetham opened #96 "Getting Custom User Data"
Hey,

First of all, thanks for such a useful repo!

Sorry if this is a stupid/easy question but I've become really stuck with it...

I am using Firestore and have custom user data saved in a 'Users' Collection. When I use the provided auth channel to get a users auth status, how can I also initiate another channel for syncing their user data from the 'Users' collection?

[2018-01-27 16:36] n6g7 commented on #96
Hi Luke,

It sounds like you need to start a new "sync" saga whenever a user logs in.
You can do so by listening for the login action:

[code]

Assuming you have an action being dispatched whenever a user logs in (we use `LOGIN` above but it could be anything), then this should do most of what you want.

However there's one case that isn't handled here: when a user logs out, then `syncUserData` sa

[2018-01-27 16:38] n6g7 commented on #92
@NickFranceschina I'm closing this for now, let me know if you have any more questions.

[2018-01-27 16:38] #92 closed

[2018-02-01 00:25] joserocha3 opened #97 "Call a function running locally"
Is there a way to call a [function running locally](https://firebase.google.com/docs/functions/local-emulator)?

Instead of `https://us-central1-project-id.firebaseapp.com/` it would run at say `http://localhost:5000/`.
[code]

[2018-02-02 23:04] n6g7 commented on #97
Hi Jose,

That's a good idea, I hadn't thought about this! 🙂

I can see two options to do that:
- allow the first argument of `functions.call` to be either a function name (current behaviour) or a full URL. In the latter case we wouldn't automatically generate a xxx.cloudfunctions.net URL and just use what was passed by the user.
[code]
- create a new `baseUrl` property in `rsf` that is used to ge

[2018-02-06 03:05] joserocha3 commented on #97
I like that first one. People might run on different local hosts so they
should have to enter the entire URL if running locally. BTW great library,
intuitive and fun to use -- appreciate all the work put into it.

On Fri, Feb 2, 2018 at 5:04 PM, Nathan Gaberel <notifications@github.com>
wrote:

[2018-02-06 14:53] dwilt commented on #48
@gunn4r any progress on this? I need it in my project too.

[2018-02-06 17:21] gunn4r commented on #48
Nope! Completely forgot about it! haha. Thanks for the reminder. Added to my todo list. I'll shoot for a finished PR this weekend.

@dwilt

[2018-02-06 20:02] dwilt commented on #48
@gunn4r Awesome, thanks!

[2018-02-06 23:27] n6g7 commented on #97
@joserocha3 Thanks for the encouragement!

This is now available in [v0.11](https://github.com/n6g7/redux-saga-firebase/releases/tag/v0.11.0), let me know how that works for you. :)

[2018-02-06 23:27] #97 closed

[2018-02-06 23:29] n6g7 commented on #96
Hey @LukeSmetham, haven't heard back from you so I'm assuming your problem is solved. I'm closing this issue for now but let me know if you have any further question. 🙂

[2018-02-06 23:29] #96 closed

[2018-02-06 23:30] #64 closed

[2018-02-09 16:23] TimMeade opened #98 "Use more than one project"
Can redux-saga-firebase use more than one project?  We are using the auth and firestore sections and it's working well with a single project.

We are trying to open a second project and are giving the init a second name..  seems to start, but the data is still the to other project.  Very odd.

admin.initializeApp(config, 'secondProject');

Has anyone had success with this?

[2018-02-09 22:20] n6g7 commented on #98
Hi @TimMeade,

I've never used several firebase apps simultaneously but [the docs](https://firebase.google.com/docs/web/setup#initialize_multiple_apps) suggest that this should be possible with something like the following:

[code]

It'd be easier to help you if you could provide a code example of something that doesn't work. 🙂

[2018-02-09 22:39] n6g7 commented on #98
I looked a bit more into it and I think the problem could be coming from the way firestore is initialized.

Our current doc suggests doing the following:
[code]
But I suspect that this might not work when `myFirebaseApp` isn't the default app because `firebase.firestore()` is actually a shortcut for the default app (it's equivalent to `defaultApp.firestore()`). So we might be happening is that we'

[2018-02-10 13:23] TimMeade commented on #98
Good news everyone!

Yes this works.  I moved some stuff around to what we had working.  Here is what I have now for the SECOND project.   The first default project is the standard one.

reduxSagaFirebaseTeleco.js is the loading file.
[code]

saga.js (watches and returns changes to calls collection)
[code]

Much thanks for the quick help....

[2018-02-10 15:14] n6g7 commented on #98
Great!

This issue also made me realize that, since we have access to `firebaseApp.firestore()` instead of `firebase.firestore()`, we actually don't need to pass a second firestore argument to the `ReduxSagaFirebase` constructor to be able to use firestore.

I opened [a PR](https://github.com/n6g7/redux-saga-firebase/pull/99) which takes advantage of this. Fortunately, the API change is backward c

[2018-02-12 19:18] gunn4r commented on #48
Wasn't able to get to this this past weekend. I'll get to it as soon as I can but if anyone else wants to take it in the mean time, that's totally fine. :)

[2018-02-15 13:25] alfonsodev opened #101 "uncaught exception when path does not exist"
working on react-native and react-native-firebase,
everything works pretty well, but I found this use case,
I'm not sure how it behaves on the web, but in react-native, you get an
uncaught exception when using `databaes.read` with a path that doesn't exist.
The reason is that `result.val()` is not a function if `result.exists()` is false.

I did open [a pull request](https://github.com/n6g7/redux-

[2018-02-15 16:27] n6g7 commented on #101
Hi Alfonso,

Thanks for bringing this up, that's an interesting issue. :)

About [`firebase.database.DataSnapshot#val`](https://firebase.google.com/docs/reference/js/firebase.database.DataSnapshot#val) Firebase's docs states that:

and for [`firebase.database.DataSnapshot#exists`](https://firebase.google.com/docs/reference/js/firebase.database.DataSnapshot#exists) it says:

So it sounds like we sh

[2018-02-15 16:41] n6g7 commented on #101
Ok so I do get `null` when trying to reproduce this on the web.
Can you share the relevant RN code and confirm you're using the Firebase JS SDK? I'm genuinely curious to see how you setup Firebase + RSF in general. :)

[2018-02-18 11:11] alfonsodev commented on #101
Thank you for taking your time for trying to reproduce the problem on the web side.
I'm using `react-native-firebase` package, which is a wrapper of the native SDKs,
but they expose the same API than the web SDK.
In my case, I'm testing on iOS platform.
Looking at [the code that handles snapshots](https://github.com/invertase/react-native-firebase/blob/master/lib/modules/database/DataSnapshot.js#L

[2018-02-23 07:46] elitan commented on #92
This thread is super helpful. Thanks! Might consider putting it in the docs.

[2018-02-26 08:45] elitan commented on #92
Really good! Will help developer in the future for sure!

[2018-02-28 07:10] NickFranceschina commented on #92
yes looks great @n6g7 !  I don't think I could have figured it out without your help!

[2018-02-28 23:25] n6g7 commented on #101
Hi @alfonsodev,

Sorry for the long silence.

I remembered that I actually did use RSF in a demo RN project a while ago. You can find the code here: https://github.com/n6g7/cat/tree/master/rn.
The setup is pretty simple: it's RN + firebase + RSF. I'm not using any other library like react-native-firebase.

I just updated the code to the latest version of Firebase + RSF and tried to [read a non-exi

[2018-02-28 23:35] n6g7 commented on #98
Hi Tim,

I released [v0.12.0](https://github.com/n6g7/redux-saga-firebase/releases/tag/v0.12.0) with the changes described.
You should be able to update without any breaking changes and then you can remove the second argument to the RSF constructor (the firestore instance). Hopefully, that means no more headaches!

I'll close this issue for now but please let me know if this problem comes back. :)

[2018-02-28 23:35] #98 closed

[2018-03-17 21:19] Aadmaa opened #103 "Keep auth when reloading browser"
For the example auth flow, when someone refreshes the browser, Firebase actually doesn't lose the auth, but this saga flow needs a tweak to capture that: just put a loginSuccess action after the yield put(syncUser(user)), as below:

function * syncUserSaga () {
  const channel = yield call(rsf.auth.channel)
  while (true) {
    const { user } = yield take(channel)
    if (user) {
      yield put(s

[2018-04-08 21:16] Slapbox opened #105 "'child_added' fires at startup for every item online?"
I've got code like this, but it fires for every single item on Firebase at startup. Is this the way it should be operating? How can I prevent this without removing the channel entirely?

[code]

Firebase documentation states:

But I swear when I had firebase implemented outside of sagas, I did not download all the contents of the path when listening for additions.

Thanks very much!

[2018-04-08 22:09] Slapbox commented on #105
So now I'm trying to implement [the following code](https://stackoverflow.com/a/11791198/
):

[code]

I have no idea how to translate this to use Redux Firebase Saga's `rsf.database.channel` though, as a callback function is required for this call. Any advice would be greatly appreciated.

[2018-04-08 23:32] #105 closed

[2018-05-04 11:06] apaatsio commented on #103
But now it would dispatch the `loginSuccess()` action on *every page load* if the user has already logged in, right? But that's not what we want. Or what do you think adding `yield put(loginSuccess())` will accomplish that the `yield put(syncUser(user))` alone does not?

[2018-06-07 06:24] socceroos opened #110 "Does database.patch(pathOrRef, data) support fanouts?"
Fanouts as described here: https://firebase.googleblog.com/2015/10/client-side-fan-out-for-data-consistency_73.html

Having read the source code, I don't think the current implementation allows for calling patch (which maps to update) with a fanout object.

[2018-06-07 08:43] n6g7 commented on #110
Hi @socceroos, I've never used fanouts myself so I can't confirm whether it works but looking at the code it looks like [whatever `rsf.database.patch()` is called with is directly passed to the `update()` method of the ref](https://github.com/n6g7/redux-saga-firebase/blob/master/src/database.js#L33).

Have you tried using fanouts yourself?

[2018-06-10 23:30] Slapbox opened #112 "Redux-saga 1.0.0 beta support?"
Redux-saga seems unlikely to be changing much, but there are some minor changes.

1.0.0 makes debugging a whole lot easier, but it seems to conflict with this package unfortunately. Are there official plans to update this library?

Thanks!

[2018-06-11 08:46] n6g7 commented on #112
There weren't until now. :)

I definitely want this package to be compatible with redux-saga v1 when it comes out so you can count on that. In the meantime I'll investigate why the beta release doesn't work.
Can you share any error message you might have?

[2018-06-11 19:06] Slapbox commented on #112
Ah I rolled back, but I'm using Electron and actually I got no error message. It crashed my app and devtools entirely. For that reason, I can't even say 100% it's RSF that's incompatible, but based on the last line I'm able to inspect before it crashes, I suspect it's RSF.

The only change I had to make to my own code to use `Redux-Saga@1.0.0-beta.1` (besides compatibility with RSF) was to change

[2018-06-11 20:09] n6g7 commented on #101
Hi @alfonsodev, did you ever get round to setting up a demo app to reproduce the bug?
Otherwise I'll assume this is a bug with react-native-firebase and close this issue. :)

[2018-06-12 00:50] socceroos commented on #110
OK, so the problem I had was with patch() asking for a pathOrRef and additionally data - since the fanout contains the paths that will be updated it didn't make much sense. By setting pathOrRef to '/' I was able to get it working.

[2018-06-12 00:51] #110 closed

[2018-06-13 21:18] n6g7 commented on #101
@alfonsodev I'll close this for now, let me know if you encounter this problem again.

[2018-06-13 21:18] #101 closed

[2018-06-13 21:34] n6g7 commented on #112
@Slapbox I can confirm that the example app breaks when updating to redux-saga v1.0.0-beta.1, so there is an problem and it's coming from RSF. I'll look into this soon. :)

[2018-06-14 21:20] n6g7 commented on #48
This was added in https://github.com/n6g7/redux-saga-firebase/pull/111

[2018-06-14 21:20] #48 closed

[2018-06-15 12:27] romk1n opened #114 "weird issue with channel"
Hi,

We have an interesting issue, when we login to the app very first time we don't get any `channel` updates. The example of the code we have is the following:

[code]

[code]

If I logout and login back to the firebase it starts to work, any idea how to resolve this ?

Many Thanks.

[2018-06-15 20:40] n6g7 commented on #114
Hi Roman,

I con't see anything wrong in your code.
What does `selectRootPath` return? Can you `console.log(rootPath)` and verify that it is not null or undefined? What about `dbPaths.configStatus`?

[2018-06-16 01:07] n6g7 commented on #112
This one took me way down the rabbit hole ... 🤯
I merged a fix in https://github.com/n6g7/redux-saga-firebase/pull/115, it works for the example app with both v0.16.0 and v1.0.0-beta.1 of redux-saga.

@Slapbox would you mind testing your app with the latest master to confirm this has fixed it for you as well? I'll keep the issue open in the meantime.

[2018-06-16 03:00] Slapbox commented on #112
Can do! Thanks very much for making and maintaining this kick-ass library.

I'll report back hopefully by the end of the weekend.

[2018-06-16 20:32] Slapbox commented on #112
Seems to work!

Took a long time to get it working because `yarn` and `npm` are so god-awful at running post-install commands when you install from non-registry sources. I saw you bumped the version number and pushed it to npm right as I finished testing lol.

Nice work @n6g7 and thank you again. I'll keep testing throughout the day and let you know if I encounter any issues.

PS: I'm not using Fi

[2018-06-16 20:45] n6g7 commented on #112
Haha sorry you had to go through the manual install process just before I did that!

Thanks again for raising this issue, I'm going to close it for now since there's no reason for firebase to be differently affected by the changes.
But don't hesitate to add more comments if you encounter any more problems.

[2018-06-16 20:45] #112 closed

[2018-06-19 23:52] Slapbox opened #117 "How can I catch "errors" that result from purposely checking a path that shouldn't exist?"
I'm using  to double check everything that should be deleted from the server is deleted. I'm doing that like this:

`yield call(rsf.storage.getDownloadURL, downloadUrlToCheck)`

This call will result in an error if there's nothing at that downloadURL, as it should, but what I'd love is if I could catch it and log it as an `info` instead of an `error`

Using a try/catch, I haven't been able to do t

[2018-06-25 03:46] nmaves opened #118 "Support for transactions/batches"
Has anyone tried to implement these within this library?

If not how are people using them?

Nathan

[2018-06-25 21:40] n6g7 commented on #118
Hey Nathan,

Unfortunately the callbacks used in both [`firebase.database.Reference#transaction`](https://firebase.google.com/docs/reference/js/firebase.database.Reference#transaction) and [`firebase.firestore.Firestore#runTransaction`](https://firebase.google.com/docs/reference/js/firebase.firestore.Firestore#runTransaction) make it really difficult to translate into sagas because they rely on pl

[2018-06-26 18:22] n6g7 commented on #114
I'll close this for now, let me know if the problem persists.

[2018-06-26 18:22] #114 closed

[2018-06-26 19:06] romk1n commented on #114
@n6g7 thanks for the reply. we figure it out the issue was that the path would change every time you login with a user. So when `fork`ing we needed to remember the effect and keep track of it. So in case of login with another user we would cancel an effect and create a new one.

[2018-06-30 19:34] #69 closed

[2018-07-12 21:33] henriqueweiand opened #123 "error initializing Firestore"
![captura de tela 2018-07-12 as 18 31 11](https://user-images.githubusercontent.com/6539492/42660554-ecf69088-8601-11e8-834c-99ff2c938e6a.png)

My code:

[code]

[2018-07-12 21:59] n6g7 commented on #123
Hey @henriqueweiand,

That looks like a warning from the firestore library about a (upcoming? not sure...) breaking change. Did you notice any actual error in your app?

[2018-07-13 12:00] henriqueweiand opened #124 "Firestore off channel"
is it possible to cancel a channel event using the official firebase lib? for example:
[code]
in fact, that way it did not work ... so I do not know what the correct form would be like by lib or not.

Could you tell me?

[2018-07-15 10:35] n6g7 commented on #124
Hey Henrique,

When using the official firebase lib you can listen for changes in a collection by doing something like this:
[code]

You also detach the listener to stop listening for changes by simply calling `unsubscribe`.

-------

If you want to do the above using RSF you can fork a saga and stop it later:
[code]

[2018-07-16 17:21] #124 closed

[2018-07-20 03:34] doelgonzo opened #127 "syncCollection causes redux dev tools to crash"
I've been struggling with this for some time now, and the situation I've run into is that a block of code like this will work just fine

[code]

but when trying the following, redux dev tools crashes:

[code]

These sagas are kicked off soon after the page renders, as the user lands on a page that dispatches the MY_LIST_SYNC actions.

Now, to reproduce... I had redux dev tools open, and then I lan

[2018-07-27 19:49] n6g7 commented on #127
Hi @doelgonzo, sorry for not getting back to you sooner.

Thanks for looking into this. One of firestore API's weaknesses is that it cannot "stream" new documents in a collection: using `rsf.firestore.syncCollection(ref)` always return the entire collection after a new document has been added to a collection (or at least I couldn't find it in the docs). In comparison, the realtime database's `rsf.

[2018-07-27 21:42] n6g7 commented on #123
Ah ok so this has to do with the [new defaults](https://firebase.google.com/docs/reference/js/firebase.firestore.Settings#~timestampsInSnapshots) of the firestore SDK to return dates as [Timestamp](https://firebase.google.com/docs/reference/js/firebase.firestore.Timestamp) instead of Date.

So this is a deprecation warning from Firebase, nothing to do with RSF. :)

[2018-07-27 21:42] #123 closed

[2018-07-27 21:47] n6g7 commented on #118
I think it would be nice to have a saga-esque way of using transactions with RSF, but I don't have any idea of how to do that at the moment.
Ideas welcome! :)

[2018-07-27 22:21] n6g7 commented on #117
Hi @Slapbox, sorry for the late reply.

I just tried the following code:
[code]
Where `notafile` does not exist in firebase storage.

It does print to the console at the *info level* (you can check by unchecking "info" in "Custom levels" in the chrome devtools), however *what* is printed is an error object:
![image](https://user-images.githubusercontent.com/3386177/43348293-4d38af76-91f1-11e8-8271

[2018-07-27 22:32] n6g7 commented on #103
@apaatsio is right:

- the role of `loginSuccess()` is to inform us that the user *just logged in successfully*
  - only dispatched after the user has clicked "Login", not necessarily on every page load
- `syncUser(user)` tells us that *the user is currently logged-in* (but might now have just logged-in if he refreshed the page).
  - automatically dispatched at each page load to let us know who is

[2018-07-28 00:04] Slapbox commented on #117
Hey @n6g7 thanks very much for your reply. It's kind of wonky to do, I agree. The files uploaded are encrypted client-side, so from a privacy standpoint it's not a big issue. The issue is mostly that I am maintaining an index of the files that are on the web using the realtime database because Firebase gives you no convenient method of indexing files using the storage module alone.

So basically,

[2018-07-28 15:33] #103 closed

[2018-07-29 21:42] doelgonzo commented on #127
Ah! I see. So, perhaps the first request can be a getCollection and store a timestamp of the get, and do subsequent syncCollection calls with a where. The initial load is likely to be the huge once, but subsequent ones should be much much smaller

[2018-07-29 22:03] n6g7 commented on #127
Yep, hopefully that'll solve your problem.

I'll close this for now but don't hesitate to re-open if the problem persists. :)

[2018-07-29 22:03] #127 closed

[2018-08-01 13:55] apaatsio opened #130 "Module not found errors after updating to 0.14 (babel/runtime)"
After updating to 0.14 I'm getting errors about missing `@babel/runtime`. Version 0.13 works fine.

Quick fix is to install babel/runtime: `npm i @babel/runtime`.

I believe the proper fix would be to add `@babel/runtime` to the dependencies of `redux-saga-firebase`.

[code]

[2018-08-01 18:27] hoffmanc commented on #130
I'm running into this error as well, but the `npm i @babel/runtime` workaround doesn't work for me: after installing I get

[code]

[2018-08-02 10:32] n6g7 commented on #130
Hey guys, sorry about this. `@babel/runtime` is already in the devDependencies but we might need to add it to the regular dependencies.
I'll look into this soon.

[2018-08-03 16:50] hoffmanc commented on #130
well I just went with 0.13, and that seems to be working.

[2018-08-04 12:08] apaatsio commented on #130
I updated to `@babel/runtime@7.0.0-beta.56` and I started getting the same errors again. Downgrading back to `7.0.0-beta.55` helped.

[2018-08-05 22:56] n6g7 commented on #130
Trying to reproduce:

- rsf 0.14.0
- babel:
  - 7.0.0-beta.51 ✅
  - 7.0.0-beta.52 ✅
  - 7.0.0-beta.53 ✅
  - 7.0.0-beta.54 ✅
  - 7.0.0-beta.55 ❓
  - 7.0.0-beta.56 ❓

[2018-08-06 20:33] n6g7 commented on #130
@apaatsio @hoffmanc I released a potential fix as `v0.14.1-alpha.1`. Before I merge in master and make a new release, can you please confirm that this fixes it for you too?

To upgrade: `yarn upgrade redux-saga-firebase@next`

[2018-08-06 21:48] apaatsio commented on #130
`v0.14.1-alpha.1` did not fix it for me. I'm still getting the same errors. I don't see `@babel/runtime` installed under `node_modules` either.

My project is created with `create-react-app` and therefore I have babel 6 installed, including `babel-runtime@6.26.0`. I'm wondering if that interferes somehow with babel 7.

[2018-08-06 22:04] n6g7 commented on #130
@apaatsio Thanks for the feedback!

Probably. I only updated babel to v7-beta.56 in v0.14.1-alpha.1 and that fixed it for me. Now next step is to install @babel/runtime in dependencies. I'll release a second alpha and let you know when that's ready. :)

Thanks for your patience!

[2018-08-06 22:08] apaatsio commented on #130
Here's a minimal repo to reproduce the issue: https://github.com/apaatsio/rsf-issue-130

Just run `yarn install` & `yarn start`.

[2018-08-06 22:32] apaatsio commented on #130
`v0.14.1-alpha.2` works for me, thank you! Great job :+1:

[2018-08-07 08:32] n6g7 commented on #130
Cool! I'll release later today.

[2018-08-07 18:42] n6g7 commented on #130
@apaatsio @hoffmanc: I just released [v0.14.1](https://github.com/n6g7/redux-saga-firebase/releases/tag/v0.14.1) with the fix. You can upgrade with `yarn upgrade redux-saga-firebase`. 😉

Thanks for being patient. :)

I'm closing this for now, let me know if the problem resurfaces.

[2018-08-07 18:42] #130 closed

[2018-08-10 16:25] henriqueweiand opened #132 "How to use data type as reference in within a .firestore.channel?"
I recently noticed that there is a type for relationship between documents, but when trying to use within the scheme to get information with channel, the return does not seem to be correct, for example:

![captura de tela 2018-08-10 as 13 21 09](https://user-images.githubusercontent.com/6539492/43969372-4fc87afa-9ca0-11e8-914c-e5efd2ab3cbe.png)

![captura de tela 2018-08-10 as 13 17 27](https://us

[2018-08-10 19:59] n6g7 commented on #132
Hey Henrique,

From what I've read I think the following should work:

[code]

- [DocumentSnapshot](https://firebase.google.com/docs/reference/js/firebase.firestore.DocumentSnapshot)
- [DocumentReference](https://firebase.google.com/docs/reference/js/firebase.firestore.DocumentReference)

Could you share a code example that details what doesn't works like you expect?

[2018-08-11 21:12] nmaves opened #133 "Excessive Warnings"
We are getting a ton of these.  This was from a change in the 0.15.0 release of redux saga.

[...effects] has been deprecated in favor of all([...effects]), please update your code

[2018-08-11 22:48] nmaves commented on #133
Everything is looking good now thanks.

[2018-08-11 22:48] #133 closed

[2018-08-14 14:09] ted-aux opened #134 "Can options be passed to Firestore syncCollection/SyncDocument?"
Specifically, wish to be able to listen to meta-data changes, i.e. includeMetadataChanges = true.
Looking at the channel implementation, doesn't look like this is currently supported?

[2018-08-14 19:01] n6g7 commented on #134
Hey, you're right this is not supported at the moment but a PR would be welcome. :)

[2018-08-15 01:12] ted-aux commented on #134
Thanks for the confirmation @n6g7 , I have a use case where I want some UI indication that goes something like "_hey, the information you saved is not visible to the world yet_", and ideally need a relatively quick and snappy means of detecting when this has happened.

I'll have a go at it over the next little while and see what comes of it.

[2018-08-16 10:50] ted-aux commented on #134
Hi @n6g7
I took a stab at it and opened a PR (https://github.com/n6g7/redux-saga-firebase/pull/135), but evidently there's some syntax error in the docs and I'm having a hard time spotting the mistake. Appreciate it if you can take a quick look, cheers.

[2018-08-17 18:32] Slapbox commented on #117
That's definitely a thought worth looking into. I read this a while ago, but just realized out of the blue I forgot to respond. Thanks a lot for your help. I appreciate the advice.

[2018-08-18 22:36] n6g7 commented on #134
Thanks for sending a PRn @ted-aux, I just merged and I'll make a release soon. Keeping this issue open until then. :)

[2018-08-18 22:36] ted-aux commented on #134
:+1:  Cheers

[2018-08-28 15:51] nicer00ster opened #137 "Getting the key within the rsf.database.create method"
Hello! Awesome library. Not sure this is possible but I'm trying to add the key within the created object itself. For instance:
[code]

Is this possible or will I have to call an rsf.database.update to achieve this? Thanks!

[2018-08-29 00:51] nicer00ster commented on #137
@n6g7 Cool, I figured. Was just making sure I wasn't making two calls for no reason. 👌 Thanks!

[2018-08-29 00:51] #137 closed

[2018-08-30 01:08] henriqueweiand opened #138 "is createUserWithEmailAndPassword behavior correct?"
In a scenario where I am a user already logged in and would like to register another user inside, when calling the method **auth.createUserWithEmailAndPassword(email, password)**, it automatically register and log in. Is that correct? Should not you just do the registration?

[2018-08-30 09:55] n6g7 commented on #138
Hi Enrique,

Unfortunately this is how the underlying [`firebase.auth.Auth#createUserWithEmailAndPassword`](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#createUserWithEmailAndPassword) method works, and this behaviour is not controlled by RSF. :(

If you want to change this or to ask for another method to be added that would only register a new user without logging in, I sugges

[2018-08-30 12:07] #138 closed

[2018-09-04 16:48] henriqueweiand opened #139 "storage.uploadFile error"
I'm trying to upload an image following the example and documentation, but it does not work

![part1](https://user-images.githubusercontent.com/6539492/45045288-e15e7d00-b048-11e8-9171-b58a40705f03.gif)

here the call that the call makes as the gif showed

[code]

[2018-09-05 16:51] henriqueweiand opened #140 "listing files by folders in storage"
I am uploading files using storage and I noticed that there is no possibility to open a channel to monitor the changes of a storage endpoint.

I implemented a folder structure where the id of the person is the reference of the folder in the storage, so I would like to list all the files saved there even when there are new submissions, finally a common listener.

How could this situation be dealt w

[2018-09-12 04:18] socceroos opened #141 "rsf.database.sync doesn't flush first 'value' from path"
I have an SPA where I set up a synced connection whenever a user visits a public profile of another user. The problem is that when you visit this profile from within the SPA, the sync doesn't flush the first 'value' from the channel.

You can force it to flush the channel by updating something at the synced path. Suddenly, two sync events are pushed to the successActionCreator.

    function * syn

[2018-09-12 04:37] socceroos commented on #141
This code does work - it successfully `put`s the first event in the channel:

    function * syncPublicProfileSaga (action) {
      // Start the channel
      const chan = yield call(
        rsf.database.channel,
        `profiles/${action.id}`,
        'value',
        buffers.expanding(10)
      );

      try {
        while(true) {
          const { value: profile } = yield take(chan);

[2018-09-17 11:16] greenkeeper[bot] opened #142 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `10.9.4` to `10.10.0`.

🚨 [View failing branch](https://github.com/n6g7/redux-saga-firebase/compare/master...n6g7:greenkeeper%2F%40types%2Fnode-10.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a d

[2018-09-18 22:55] n6g7 commented on #140
Hi Henrique,

Sorry for the late response, I've looked into it and I don't think that Firebase natively supports "listening" on a storage references unfortunately. Maybe you could open a feature request with them. :)

In the meantime, I think you can either:
- index the uploaded files in a firestore table (as you described) and use firestore channel
- or create a cloud function that listens for st

[2018-09-18 22:55] #140 closed

[2018-09-18 23:05] n6g7 commented on #141
Hi @socceroos,

Thanks for raising this issue.
Does this bug appear the first time you load the user page as well? If not (ie. the bug appears only for subsequent visits to that page), then it might be because an earlier channel wasn't closed properly.

Your second code sample is interesting, it looks like the only things you've changed is the type of buffer used. Could you try it with `buffers.no

[2018-09-19 00:54] socceroos commented on #141
Thanks for the feedback @n6g7,

The problem doesn't appear if you refresh _on the profile page_ that you want to visit. If you first start on the homepage of the PWA and then navigate to a user's profile then it won't work until a modification is made to the RTDB path (thus causing two events to pop out of the buffer). However, CANCEL_SYNC_PUBLIC_PROFILE is always fired before SYNC_PUBLIC_PROFILE

[2018-10-17 18:55] dfee opened #145 "syncCollection is not compatible with fork [typescript]"
I'm trying to follow the demo, but am getting type errors (only with the `syncTodos` equivalent):

[code]

[code]

The error I am getting is for the first argument to `fork`:
[code]

I've even simplified it so I'm not using an outside library and manually compose the action:
[code]

[code]

And I get the same error:
[code]

[2018-10-25 22:56] dfee commented on #145
The answer to this is to cast `rsf.firestore.syncCollection` as `() => SagaIterator`:

[code]

[2018-10-25 22:56] #145 closed

[2018-10-25 23:00] dfee opened #146 "`file` and `metadata` implicitly have 'any' type [typescript]"
As the title says, `file` and `metadata` implicitly have 'any' type. This means that I've had to disable my tsconfig's `noImplicitAny` (or enable `skipLibCheck`) otherwise I get presented with errors.

[code]

I'm not sure what the proper types should be for those.

[2018-10-30 08:15] cbrwizard opened #147 "No read permission error gets silently swallowed"
Hey, I was using this library for a firebase database channel, but it didn't trigger any actions on data change. After ditching this library and trying out my code I started getting permission errors like "Error: permission_denied at /stuff: Client doesn't have permission to access the desired data." After I changed the database rules, both my code and this library started working.

A conclusion:

[2018-11-07 01:54] greenkeeper[bot] opened #148 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/cli](https://www.npmjs.com/package/@babel/cli) was updated from `7.1.2` to `7.1.5`.
- The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.1.2` to `7.1.5`.
- The `devDependency` [@babel/plugin-transform-runtime](https://www.npmjs.com/package/@babel/plugin-transform-run

[2018-11-07 03:58] greenkeeper[bot] opened #149 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.14.3` to `1.15.0`.

🚨 [View failing branch](https://github.com/n6g7/redux-saga-firebase/compare/master...n6g7:greenkeeper%2Fprettier-1.15.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency of this project.

[2018-11-08 23:17] greenkeeper[bot] opened #150 "An in-range update of firebase is breaking the build 🚨"
## The devDependency [firebase](https://github.com/firebase/firebase-js-sdk) was updated from `5.5.7` to `5.5.8`.

🚨 [View failing branch](https://github.com/n6g7/redux-saga-firebase/compare/master...n6g7:greenkeeper%2Ffirebase-5.5.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

firebase is a devDependency of this proj

[2018-11-11 22:50] n6g7 commented on #147
Hi @cbrwizard,

Did you pass a `failureActionCreator` to the [`sync` method](https://redux-saga-firebase.js.org/reference/dev/database/#sync)? If you didn't then any error would have effectively been "silently swallowed".

Maybe that's a design mistake? i.e. when `failureActionCreator` is not passed then errors should be thrown.
I'll think about that but changing this behaviour now would be a brea

[2018-11-11 23:33] #132 closed

[2018-11-11 23:34] #142 closed

[2018-11-12 10:29] n6g7 commented on #147
Thanks for the feedback.
I've now logged the error to the console so at least it's obvious that something happened. Also added a line to the docs to explain the behaviour better.
Hopefully this would have solved your problem. :)

[2018-11-12 10:29] #147 closed

[2019-01-13 17:56] digibake opened #160 "import individual SDK components"
Hi,

I'm getting a warning in Chrome:

Could this warning be coming from line 1 of index.t.ds:

Should it be something like:

`
import firebase from 'firebase/app';
import '@firebase/firestore'
...
`

[2019-01-13 21:17] #160 closed

[2019-01-20 12:56] greenkeeper[bot] opened #161 "An in-range update of redux-saga is breaking the build 🚨"
## The devDependency [redux-saga]() was updated from `1.0.0-rc.0` to `1.0.0`.

🚨 [View failing branch](https://github.com/n6g7/redux-saga-firebase/compare/master...n6g7:greenkeeper%2Fredux-saga-1.0.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

redux-saga is a devDependency of this project. It **might not break your p

[2019-01-20 20:00] n6g7 commented on #161
Fixed in #162

[2019-01-20 20:00] #161 closed

[2019-02-06 04:52] navneet35371 opened #164 "[Question] How do i do a join of different collection?"
Assume that the data look like this and is stored in firestore :

post: {
  authorId: '123AA',
  title: 'first Post',
  body: 'yay'
}

author: {
  uid: '123AA',
  displayName: 'Richard'
  email: 'im@richard.com'
}

How do i get the post along author information? A similar question asked on [stackOverflow](https://stackoverflow.com/questions/38789299/firebase-joining-tables).

[2019-02-27 17:52] stasinua opened #170 "Website down with 500 error"
@n6g7 Just letting you know that https://redux-saga-firebase.js.org/ is down more than 30 minutes.
![image](https://user-images.githubusercontent.com/13312879/53511471-32679f00-3ac9-11e9-9292-24a54ae135f8.png)

[2019-02-27 19:27] stasinua commented on #170
@n6g7 Website is UP. Closing.

[2019-02-27 19:27] #170 closed

[2019-02-27 21:16] n6g7 commented on #170
Hey @stasinua, thanks for letting me know!

It looks like there was [an issue with Netlify](https://www.netlifystatus.com/) earlier today but that it's fixed now, I'll keep an eye on the website.

[2019-03-02 02:16] greenkeeper[bot] opened #171 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `11.10.0` to `11.10.1`.

🚨 [View failing branch](https://github.com/n6g7/redux-saga-firebase/compare/master...n6g7:greenkeeper%2F%40types%2Fnode-11.10.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a

[2019-03-08 19:33] webbertakken opened #172 "Webpack aliases counter intuitiveWebpack config for example incompatible with create-react-app"
Firstly, thank you so much for creating this great project!

I would argue that aliases that are defined in `webpack.config.js` like below are counter-intuitive when you're new to this package and as such isn't so useful to have in the example, as it requires refactoring or configuration to get to work.

[code]

While i like the syntax of importing actions using `@actions`, it got me puzzled there

[2019-03-11 11:12] n6g7 commented on #172
Hey Dick,

Thanks a lot for the feedback!

That's interesting because my reasoning when adding the `@actions` aliases was also that it would make those example files easier to read. By reducing the cognitive load on implementation details ("what is this thing we're importing here?"), my thought was that it'd be easier to focus on the library-specific stuff ("how do you call a firebase function fro

[2019-03-22 23:13] eugenio1590 opened #177 "storage.uploadFile does not return UploadTask"
I am calling the 'storage.uploadFile' function and I get an error when trying to subscribe to the event channel. This is because the function returns an 'UploadTaskSnapshot' object. This is my code:

[code]

The image is saved in Firebase but I am going to display the progress bar with the information of the snapshot but in the task.

[code]

[2019-03-23 14:36] eugenio1590 commented on #177
I resolved it calling the function directly and wait for the task to finish at the bottom.
[code]
It's important to update the documentation.

[2019-03-25 19:07] n6g7 commented on #177
Hi there,

Thanks for the feedback!

Unfortunately that's a side effect of `firebase.storage.UploadTask` having a [`then` method](https://firebase.google.com/docs/reference/js/firebase.storage.UploadTask#then), so redux-saga assumes it's a promise and [resolves it](https://github.com/redux-saga/redux-saga/blob/edd8f77b7886c858199ff2c23af571cec6477f8c/packages/core/src/internal/effectRunnerMap.js#L

[2019-03-25 19:22] eugenio1590 commented on #177
Yes, the test is difficult to with this change. But using a manual mock with jest for returning the correct answer, It worked for me. Thanks to you.

[2019-03-25 22:24] #177 closed

[2019-03-26 18:26] #171 closed

[2019-03-26 18:34] n6g7 commented on #164
Hey Navneet, sorry for the late reply.

I don't think there's a way to do that in one query to the database (either realtimedb or firestore), so your best bet is probably to do something along the line of the answer to the SO post you linked.

I haven't read [these](https://firebase.google.com/docs/database/admin/structure-data) [docs](https://firebase.google.com/docs/database/admin/retrieve-data)

[2019-03-29 11:34] archiekd opened #180 "Documentation issue: Functions documentation doesn't load on the website"
The url on the documentation for the function calling doesn't load due to an error with a className the url that doesn't work is https://redux-saga-firebase.js.org/reference/dev/functions/

Could this be fixed so that I can view the docs?

Thanks

[2019-03-30 19:34] n6g7 commented on #180
Ah good catch, thanks. I'll look into this!
In the meantime, you can read the docs in [markdown format](https://github.com/n6g7/redux-saga-firebase/blob/master/docs/reference/dev/functions.md).

[2019-03-30 21:59] n6g7 commented on #180
Fixed in https://github.com/n6g7/redux-saga-firebase/commit/f9c68ea86fd85a613b1f0a5f95502f897a72df39
https://redux-saga-firebase.js.org/reference/dev/functions/

[2019-03-30 21:59] #180 closed

[2019-04-21 21:47] kilroy05 opened #183 "Error: Firestore isn't installed. Did you forget to `import '@firebase/firestore'`?"
Hi,

Thanks for making this project open source. Greatly appreciated!
I hope it's not me being silly, but I am getting this error

[code]

I am already using firestore, but would like to use this library rather than doing everything myself.
I've started the project using react-boilerplate.
My app is started like this:
[code]

I am using a Windows machine (not sure if it makes a difference, I'll tr

[2019-04-22 10:18] kilroy05 commented on #183
Alright, so I've given it a go with a new installation and looked into it more clearly.
My implementation of a new Firebase class / HoC isn't the same as `firebase.initializeApp`, so it seems to work ok if instantiation is done outside the object.
In essence: `const myFirebase = app.initializeApp(config);`
And then while I still need to use (getting rid of, I think) my custom implementation with c

[2019-04-22 10:18] #183 closed

[2019-04-25 11:44] llamerr opened #184 "Errors when trying Demo app"
First problem was at `yarn dev` stage after installing packages

[code]

I solved it by installing package inside demo folder `yarn add redux-saga-firebase `

Next one is this warning

[code]

Solved it by limiting version of styled components to 3x: `    "styled-components": "^3.4.9",`

[2019-04-25 11:45] llamerr commented on #184
Second issue need to be solved differently by migrating to new version probably, see https://spectrum.chat/next-js/general/export-injectglobal-was-not-found-in-styled-components~8c63763a-eefb-45e2-8523-de5f01a230fc and https://www.styled-components.com/docs/faqs#what-do-i-need-to-do-to-migrate-to-v4

[2019-04-26 08:54] yash2code opened #185 "TypeError: Cannot read property 'snapshotListenOptions' of undefined"
[code]

[2019-05-03 15:12] luskin opened #186 "RTDB Sync doesn't return if another sync with same ref exists"
There seems to be an issue where `redux-saga-firebase` will not dispatch the `successActionCreator` nor throw an error nor dispatch a `failureActionCreator` when trying to put a listener on a ref that is already being listened to elsewhere in the instance. Albeit this is an edge case, but there is a certain flow a user could take in our application where there would need to be two separate ref lis

[2019-05-05 16:00] n6g7 commented on #186
That seems weird, there's no caching or refs in this library (see the [syncChannel function](https://github.com/n6g7/redux-saga-firebase/blob/d7f5ce4ff73a93c0e139da13789c4c85dfbc96c2/src/utils.js#L3-L23) where the corresponding logic is implemented).

I tried to [reproduce this bug in the example site](https://github.com/n6g7/redux-saga-firebase/blob/lib/issue-186/example/src/redux/sagas/todos/rea

[2019-05-07 09:14] zzbynzz opened #190 "How do integrate redux-sage-firebase with react-native-firebase"
I integrated using code:
`import firebase from 'react-native-firebase';
import ReduxSagaFirebase from 'redux-saga-firebase';

const reduxSagaFirebase = new ReduxSagaFirebase(firebase.app);

export default reduxSagaFirebase;`
But still receive error (I need use Firestore) :
<img width="300" alt="Screen Shot 2019-05-07 at 16 14 11" src="https://user-images.githubusercontent.com/10634200/57288163-2e6

[2019-05-07 09:54] zzbynzz commented on #190
I installed package : @firebase/firestore , but it still notify error :
`error: bundling failed: Error: Unable to resolve module `@firebase/app` from `/Users/quan_tb/workspaces/pharmedia/mobile/node_modules/@firebase/firestore/dist/index.cjs.js`: Module `@firebase/app` does not exist in the Haste module map`
Seems @firebase/firestore can't work with react-native-firebase, as it says :
**This packa

[2019-05-08 00:01] luskin commented on #186
I'll try and find some time to create a reproducible example in the coming week.

[2019-05-14 22:37] luskin commented on #186
Additionally using the channel method works:

This Does Not Work:
[code]

This Does Work:
[code]

This leads me to believe there is a bug somewhere with the `.sync` functionality

[2019-05-16 03:56] kwkatbabel opened #193 "FacebookAuthProvider.credential undefined"
rsf.auth.FacebookAuthProvider.credential(data.accessToken)

Using rsf with react-native-fbsdk. How can I get the FacebookAuthProvider.credential for facebook login?

[2019-05-19 19:27] n6g7 commented on #193
RSF doesn't re-export the auth providers, you can import directly from Firebase:
[code]
For a full example, take a look at [the example app](https://github.com/n6g7/redux-saga-firebase/blob/master/example/src/redux/sagas/login.js).

[2019-05-19 19:27] #193 closed

[2019-05-28 05:19] yash2code commented on #134
is it working ?

[2019-06-05 21:03] luskin commented on #186
@n6g7 I found the problem. If there is already an existing sync on a particular reference the initial read won't happen, however all subsequent updates still come through. We've implemented a hack that first does a singe `read` then turns on the `sync` for that reference. This was a source of major frustration for several weeks so I'll try and comb through your code to find the problem but for now

[2019-06-05 21:03] #186 closed

[2019-06-06 20:42] n6g7 commented on #186
@luskin thanks for the update!
Does that mean you run `database.sync` twice on the same ref? If so I'm curious of your use case.

[2019-06-07 00:01] greenkeeper[bot] opened #196 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.17.1` to `1.18.0`.

🚨 [View failing branch](https://github.com/n6g7/redux-saga-firebase/compare/master...n6g7:greenkeeper%2Fprettier-1.18.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency of this project.

[2019-06-10 03:53] quantb95 commented on #190
No one care :'(

[2019-06-10 08:55] sharanan-sarvsutra opened #197 "failureActionCreator doesn't work for fork - syncDocument"
Database: - Firestore
Function:- syncDocument
RSF Version:- 0.15.0

Issue:- Syncing a restricted firestore doc with following code fails to handle the (permission denied) error properly:-

try {
.......
.......
yield fork(rsf.firestore.syncDocument, `stakeholders/${stakeholderId}`, {
            successActionCreator: (docSnapshot) => {
                if (!docSnapshot.exists && stakeholders[stakeh

[2019-06-17 22:52] n6g7 commented on #184
Hi @llamerr, thanks for the feedback!

Your second point should be fixed by now, can you confirm?

As for resolving `redux-saga-firebase`, it should be taken care of by the `file:..` dependency in `example/package.json`, I'm not quite sure why this is not working for you. Can you check whether there you have a `example/node_modules/redux-saga-firebase` directory? If so, what does it contain?

[2019-06-17 22:53] #196 closed

[2019-06-19 23:33] leonardolessa opened #241 "signInWithPopup should return an UserCredential ?"
I'm very unexperienced with Firebase so i'm not sure if its a legit issue.
I'm trying to grab user information from the info returned from signInWithPopup and according to the firebase docs the method should return UserCredential (https://firebase.google.com/docs/reference/js/firebase.auth.Auth.html#signinwithpopup) that would solve my problem.
But according to redux-saga-firebase the object retur

[2019-07-07 18:54] jmargolisvt opened #276 "Should `setDocument` return a DocumentReference?"
I'm successfully using `setDocument` to create an object with a custom key, but the call doesn't seem to return anything.  I don't see an __Output__ section in the docs, so perhaps this is intentional?  I would expect it to return a `DocumentReference` but I'm not seeing that.

Is this the intended behavior?  If so, any suggestions for trying to pass that data on in the success callback?

[2019-07-13 18:24] ChrisChiasson opened #308 "dynamic import promise channel action off by one"
In a project organized similarly to the example project, I've put `rsf.js` into a folder named rsf. Inside that folder, I've also put an `index.js` that dynamically `import()`s `rsf.js` at file scope. This system allows firebase and redux-saga-firebase to be in a separate bundle from the rest of the app for faster loading, which is important since firebase is huge and drops my mobile page speed sc

[2019-07-31 06:17] harvey56 opened #342 "Firestore channel issue"
Hi,

I am trying to create a firestore channel based saga. As follows : `firestore.channel(pathOrRef, type, buffer)`

In the documentation, `type`is mentioned as optional. That's not what the typings definition indicate however :
`channel: (
    pathOrRef: PathOrRef.Firestore,
    type: FirestoreType,
  ) => Channel<ChannelOutput.Firestore>`

Plus, when giving either of the 2 possible types (`docu

[2019-08-11 14:54] harvey56 commented on #76
Hi @shprink ! I am trying to solve the same problem you had. Do you mind sharing how you did it ? I'm aware it goes a bit far back...

[2019-08-13 21:48] shprink commented on #76
Old indeed. Sorry @harvey56 I can't help you :(

[2019-08-15 10:51] rsallar opened #360 "Use arrayUnion to update an array"
Hi, is it possible to use _arrayUnion_ (https://firebase.google.com/docs/firestore/manage-data/add-data#update_elements_in_an_array) ?
I have tryied to use it like this

[code]

Thank you very much.

[2019-08-18 12:05] #360 closed

[2019-08-18 12:06] rsallar commented on #360
I figure it out:

[code]

[2019-08-20 18:46] lytes20 opened #367 "TypeError: rsf.app.database is not a function"
Hey I am using React with Redux, and Redux Saga, I am trying to connec the application to firebase, I am using this library to do so.
Here is my saga code:
[code]
Here is my firebase config file
[code]
And this is the error I get: `TypeError: rsf.app.database is not a function`

[2019-09-03 11:17] AliYar-Khan opened #391 "auth.signInWithEmailAndPassword first argument "email" must be valid string"
I am working on redux-saga-firebase authentication, And i have setup everything according to the tutorial available here => https://github.com/n6g7/redux-saga-firebase/tree/master/example but the function is giving me error that the first parameter "email" is not a valid string.

![Screenshot (320)](https://user-images.githubusercontent.com/37889962/64170002-7799ce80-ce68-11e9-91ab-b08d05f7ac2e.pn

[2019-09-16 07:40] cbrwizard commented on #147
Hey we seem to have exactly the same issue now with errors being swallowed. Where do I put this `failureActionCreator` again? I can't see it in the docs

[2019-09-16 09:24] n6g7 commented on #147
Hey, can I ask:
- what version of the rsf are you using?
- are you seeing an error message ("The following error has been ignored because no `failureActionCreator` has been set:...") in the console?

`failureActionCreator` is a key in the second argument of [database.sync](https://redux-saga-firebase.js.org/reference/dev/database#sync) (and firestore.sync* too actually). It's true that the docs ar

[2019-09-16 11:27] cbrwizard commented on #147
What about other methods? Because we don't use sync. Also it seems that there were no errors in the console

[2019-09-16 12:58] n6g7 commented on #147
What methods are you using? Could you provide a reproduction script?

[2019-09-19 15:26] cbrwizard opened #423 "Naming inconsistency in firestore"
Why rsf's firestore `patch` calls original firestore `update` and rsf's `update` calls original `set`? This is so confusing. It should follow original naming instead.

[2019-09-20 04:04] nkpgardose opened #424 "Examples on how to test `redux-saga-firebase`"
`/example` is a great start on how to use `redux-saga-firebase` but it doesn't have tests. It would be great if `/example` have tests especially on `saga` dir. That way, there's a starting guide when developers started testing their sagas.

[2019-09-21 16:05] #391 closed

[2019-09-21 16:08] AliYar-Khan commented on #391
My login saga is receiving the action object and i have to use it is like this

function* loginSaga(action) {
  Reactotron.log("login data " + action.email.trim() + " and " + action.password);
  try {
    const data = yield call(rsf.auth.signInWithEmailAndPassword, action.email.trim() , action.password );
    yield put(LOGIN_SUCCESS(data));
  }
  catch(error) {
    Reactotron.log(error);
    yield

[2019-09-23 09:39] cbrwizard commented on #147
Okay so I have checked almost every firestore method (except sync*) and all database methods. Firestore methods I've checked work fine, but in realtime db `sync` and `channel` methods doesn't handle missing permissions errors at all.
Using 0.15.0 version.

[code]

[code]

What's expected:
-[X] Update runs successfully
- [] Sync is triggered and should run `setUploadsNote` action as it fails on mis

[2019-09-23 15:20] sidzan opened #427 "How to get .where working?"
I am having trouble getting .where () query to work using this library.

I tried doing the following in my saga
[code]

And it seems to work, however, documents on yield show warning as
[code]

Is this the correct approach? Any suggestion or hint is much appreciated :)

Here is the  [stackoverflow](https://stackoverflow.com/q/58061097/4796134) link too

[2019-09-25 01:33] sidzan commented on #427
@n6g7 any suggestions on this would be great !

[2019-10-09 13:05] nkpgardose opened #469 "When I use `snapshot.value()` does it mean I run `value()` two times?"
https://github.com/n6g7/redux-saga-firebase/blob/266874d09799a42a7f085990d894fb7552d16b3d/src/database.js#L46

[2019-10-09 13:09] nkpgardose commented on #469
Does this mean that if I use `snapshot.forEach(trade => trade.val())`, I double request on RTDB? because dataSnapshot.val() don't respect `orderByChild` and forces me to use` forEach(val)`

[2019-10-09 13:40] #424 closed

[2019-10-29 23:29] Aadmaa commented on #427
// First get the column reference using the firebase libraries:
const colRef = firebase.firestore().collection("users")

// Then you can do like,
const snapshot = yield call(rsf.firestore.getCollection, colRef.where("userId", "==", "gLRK62fqIue0iP23jki9wVTkcqo8"))

[2019-11-05 20:10] Aadmaa opened #505 "Peer dependency warning"
package.json has an old peer dependency for firebase (^5.0.4), causing npm warnings. An up-to-date version is reflected in devDependencies. I think you can probably just delete the firebase peer dependency.

`  "peerDependencies": {
    "firebase": "^5.0.4",
    "redux-saga": "^1.0.0"
  },`

[2019-11-07 03:49] luskin opened #517 "Event channel stops working on react native reload"
The following code block works just fine:

[code]

**HOWEVER** if you want to delay the start of this process you cannot `fork` this from any other saga, i.e.:

[code]

The output of this is:
[code]

but the `User received` is never resolved.

[2019-12-14 02:15] lalexgap opened #567 "Database.Channel typing is missing buffer argument."
The current `index.d.ts` in version `0.15.0` does not include the optional `buffer` argument.
[code]
It looks like this is was fixed in 5faba5e63b27818312d676078f3e46ac674e836a but that change has not been included in a release yet.

[2020-01-25 20:10] snario opened #626 "Has this been tested to work with firebase-server?"
I have used [firebase-server](https://github.com/urish/firebase-server) in the past for a project and on a current project am using `redux-saga-firebase`. I tried to hook up a `firebase-server` backend but it seems like messages are not being received in the way that I would expect. I've been debugging this a bit but haven't gone too far, so I just wanted to ask if there are any known examples of

[2020-01-29 01:27] tad3j opened #627 "Using redux-saga-firebase in react-native (messaging module not subbed to setBackgroundMessageHandler())"
For the most part (auth and firestore modules) I was able to use this great package without any issue. Today I was implementing notifications and I've noticed that this library only subscribes to `var unsubscribe = messaging.onMessage(emit);` which results in notifications being emited only when app is open. https://github.com/n6g7/redux-saga-firebase/blob/master/src/messaging.js#L12

There is ano

[2020-02-19 18:49] tugzera opened #652 "How can i access a subcollection from a colecction"
SORRY ... I WAS DOING SOMETHING STUPID
-------------------------------------------------------------------------------------------------------------------
Example :

User/123456/Data

I dont get results of trying to get a collection passing this path...

[2020-02-19 18:54] #652 closed

[2020-03-08 02:23] pontakornth opened #692 "How to paginate collection"

[2020-03-12 09:55] akopsykokwak opened #703 "Retrieve GeoPoint and update it"
Hello there!
I am working on a project using an admin dashboard template in React JS (isomorphic) and I am using MapBox to change GeoPoints data.
I'm trying to update a GeoPoint in my Firestore database : I retrieve the data using `rsf.firestore.getDocument()`, console logged it and I retrieved indeed a Geopoint type data but in Redux it is considered as an object.
I tried to transform it into a G

[2020-03-16 14:05] #703 closed

[2020-04-12 02:27] shadez95 commented on #505
Or just update the peer dependency.

[2020-04-16 13:56] Poisork opened #786 "How parsed response with rsf ?"
Hi ! If i use auth.signInWithEmailAndPassword(email, password), in response i take an answer to the likeness of this.

![Снимок экрана от 2020-04-16 16-51-06](https://user-images.githubusercontent.com/45150209/79464278-894c7280-8002-11ea-939a-a99b11778748.png)

Does your application have a convenient parser to get data in approximately this form?

`  {token: '',
  userId: '',
  email: '',
  refres

[2020-04-19 10:04] Poisork opened #795 "Uncaught Error in onSnapshot: FirebaseError: Missing or insufficient permissions."
when you log out through rsf.auth.signOut firebase outputs to the console
![Снимок экрана от 2020-04-19 13-02-10](https://user-images.githubusercontent.com/45150209/79684991-13344f80-823e-11ea-94f8-3fd59dc16df2.png)
although the database rules are in the order
![Снимок экрана от 2020-04-19 13-03-11](https://user-images.githubusercontent.com/45150209/79685011-3828c280-823e-11ea-903a-edb9da6376fb.pn

[2020-05-02 09:30] rares-lupascu opened #850 "Question: any support for batching?"
I've seen any reference to batching support ... is there any?

[2020-05-04 02:07] ctq3103 commented on #241
I got the same problem. I have to use firebase.auth() instead. Are there any other differences between these two that you know, from your experience?

[2020-05-05 06:00] ddemoll opened #854 "Question: Any support for http callable functions?"
Is there any support for callable functions: `functions.https.onCall` ?
[firebase callable functions](https://firebase.google.com/docs/functions/callable)

[2020-05-15 15:53] im-thom commented on #241
Yeah I feel like this should definitely be returning a UserCredential.

@ctq3103 Another difference; and the problem I am having is that you cannot get access to things like "IsNewUser" during authentication flow. Gonna have to use the regular firebase auth flow.

If I'm misinterpreting, anyone feel free to let me know 🙃

[2020-05-19 02:04] jjalonso commented on #118
Please

[2020-05-22 20:08] Matgsan commented on #190
@zzbynzz Have you solved? I am having the same issue.

[2020-06-24 18:39] david-potgieter commented on #190
Should anyone else stumble accross the same issue:

The documentation is not very clear but you should import the firebase tool you intend to use for the saga. As example:
[code]

[2020-07-31 14:57] rockiger opened #1091 "TypeScript error when using getCollection with filtered CollectionReference."
The following code :

[code]

produces thist TypeScript error:

[code]

The strange thing is, when I don't use the `.where('user', '==', authUser.uid)` filter, I don't get any errors. But then I would have to filter the results myself. Does anybody have enough experience with Firebase and TypeScript to point me in the right direction?

[2020-08-02 03:00] streameventio opened #1100 "rsf.firestore.getCollection more than 10 elements"
Firebase limits the number of elements, querying with `in` with longer more than 10 values in array will results in:
[code]

As an application, we can easily have more than 10 users, what is the best way to query a collection of users with Redux Saga?

My Saga for querying users:
[code]

[2020-09-08 20:55] Aromokeye opened #1178 "Thank you"
Whatever you did to make this work is awesome! Thank you @n6g7

[2020-11-19 23:01] angelod1as opened #1365 "Is this package still maintained?"
Title says it all

[2021-02-16 10:59] alicantorun commented on #1365
I would like to know that actually... Is this package still maintained?

[2021-03-01 18:45] diogoviannaaraujo commented on #1365
don't think so, ill have to drop it due to old firebase dependence

[2021-03-02 20:50] angelod1as commented on #1365
No answer in months and I'm not even working at the same job.

[2021-03-02 20:50] #1365 closed, assigned to nobody

[2021-07-25 17:34] jmargolisvt commented on #1365
Seems like it's dead.  I'm unable to upgrade firebase.

[code]

[2022-01-19 08:06] Mihai-github commented on #183
Hi @crisrat, I am facing the same issue getting the error for signInWithCredential the following error:

How did you solve the problem???

**TypeError: this.app.auth is not a function
    at ReduxSagaFirebase.signInWithCredential$ (http://localhost:8081/index.bundle?platform=android&dev=true&minify=false&app=io.uitt&modulesOnly=false&runModule=true:284404:29)
    at tryCatch (http://localhost:8081

[2022-01-19 08:13] ghost commented on #183
@Mihai-github salutare. de unde?
Don't think I ever got it to work, if memory serves me right. I think I just stopped using that package. I'd guess by now, perhaps they fixed it?

[2022-01-19 08:20] Mihai-github commented on #183
@crisrat Salut.

I get this error when calling:

[code]

And I have initialized the ReduxSagaFirebase using:

`export const reduxSagaFirebase = new ReduxSagaFirebase(fbConfig);`

From what I read in the docs this looked like a good way to use redux saga with firebase because I intend to use it with FireStore and this lib seems to have an option to listen to firestore changes using:

`const channel

[2022-01-19 08:21] Mihai-github opened #1966 "this.app.auth is not a function"
Hi,

I am trying to implement redux-saga-firebase authentication and I get the following error:
I've also followed the docs and I can see the reduxSagaFirebase has the auth property and also the signInWithCredential, but for some kind of reason I get an error when calling...

[code]

Anyone got any idea how to solve this and also I check and there was no push to this lib since 3y ago so is it stil

[2022-01-19 08:22] ghost commented on #183
@Mihai-github Wish I could help, but not sure.
I stopped using that library long ago - sagas were an overkill for my project back then as well. perhaps they are for you too?

[2022-01-19 08:27] Mihai-github commented on #183
Can we talk on some other platform like idk discord? Btw esti roman corect? :))

[2022-01-19 08:30] ghost commented on #183
@Mihai-github da, sunt
yeah, I guess

[2022-01-19 08:31] Mihai-github commented on #183
Can you add me?
My discord id is: Darth Vader 2.0#0565

[2022-01-19 08:31] ghost commented on #183
@Mihai-github not sure I have discord, but yeah, will check

[2022-01-19 08:32] Mihai-github commented on #183
Thank you, if you want we can have a chat on another platform as well.

[2022-01-19 08:33] ghost commented on #183
@Mihai-github I don't think that id you sent is right

[2022-01-19 08:33] Mihai-github commented on #183
Give me yours and i will add you.

[2022-01-19 08:35] ghost commented on #183
@Mihai-github  Chris Griffin#1517

[2022-01-19 08:44] Mihai-github commented on #183
Sent

[2022-03-03 21:30] Nantris commented on #1966
What version of Firebase are you using?

It does not appear redux-saga-firebase is maintained anymore, and I don't think it will be compatible with version 9 - but it should work with Firebase version 8, I think.